<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
</head>
<body>
    <h1>File Upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        username: <input type="text" name="username">
        photo: <input type="file" name="upload">
        <button>Upload</button>
    </form>
</body>
</html>
